:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /*You have to set the main font as familily font*/ 
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*This min-width is used to determine that the width won't be less than 320px*/
    min-width: 320px;
    text-align: center;
    height: 334px;
    background-color:var(--grey);
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.logo-header{
    width: 128px;
    height: 24px;
    align-self: center;
    margin-bottom: 36px;
}

.text-header{
    padding: 0 1.6rem 0 1.6rem;
    height: 218px;
    align-self: center;
}

.title-header{
    font-weight: 700;
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
}

.paragraph{
    margin-top: 2.4rem;
    font-weight: 50rem;
    font-size: 1.4rem;
    color: var(--soft-orange);
}

.button-header{
    position: absolute;
    width: 22.9rem;
    height: 4.8rem;
    padding: 15px ;
    top: 27rem;
    left: calc(50% - 118px);
    margin-top: 3.5rem;
    background-color: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    text-decoration: none;
}

.button-header span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.backgroundimg{
    background-image: url("./assets/img/Bitcoin.svg");
    height: 19.5rem;
    width: 19.5rem;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


 

.main-exchange-container-title h2{
    font-weight: 700;
    font-size: 24px;
    margin: 0 1.5rem 0 1.5rem;
    text-align: center;
}

.main-exchange-container-title p span{
    font-weight: bold;
    font-size: 14px;
    color: #927b7b;
    margin:0 auto;
    line-height: 1.6rem;
    text-align: center;
}

.main-exchange-container-title p{
    margin-top: 24px;
    text-align: center;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    height: 360px;
    font-family: "Inter", sans-serif;
}


.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white)
    ;
}

.currency-table--container tr{
    height: 4rem;
    text-align: center;
    width: 2rem;
}

.currency-table--container .currency-table--title{
    margin-bottom: 1.8rem;
    font-weight: 700;
    font-size: 1.8rem;
    color: #FF9536;
    margin-top: 5rem;
    padding-top: 48px;
    background-color: var(--off-white);
    padding-bottom: 20px;
}

.currency-table--container .table__right span{
    display: inline-block;
    background-image: url("./assets/icons/trending-down.svg");
    width: 10px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.currency-table--container .table__right .table__right--ethereum{
    display: inline-block;
    background-image: url("./assets/icons/trending-up.svg");
    width: 10px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}

.benefits{
    height:auto;
    min-width: 230px;
    background-color: var(--warm-black);
}

.benefits-header{
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    background-color:var(--warm-black);
    padding-top: 64px;
    text-align: center;
}

.benefits-header h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--just-white);
}

.benefits-header p span{
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}
.benefits-header p {
    padding-top: 24px;
}

.benefits-container-cards{
    width: auto;
    max-width: 500px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 32px;
}

.benefits-card{
    padding: 22px 18px 22px 18px;
    background-color:var(--warm-black-1);
    margin: 0 16px 16px 16px;
    border-radius: 5px;
}

.benefits-card .card-1{
    margin-top: 32px;
}

.benefits-card h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 12px;
    color: var(--just-white);
}

.benefits-card .card-4{
    margin-bottom: 46px;
}


.benefits-card p span{
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

.just-background .background{
    display: block;
    min-width: 230px;
    max-width: 700px;
    height: 516px;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 20px ;
}

.just-background{
    background-color: #c77e34;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}

.plan--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 50px;
}

.plan--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}

.plan--title p{
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 24px;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--cards{
    position: relative;
    scroll-snap-align:center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);
    top: -15px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 6px;
}

.plan-card---title{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: black;
}

.plan-info-container{
    padding-top: 35px;
}

.plan-card--price{
    margin-top: 8px;
}

.plan-card--price span{
    font-size: 52px;
    font-family: "Inter";
    font-weight: 700;
    /*here i used the vertical-align to set the price (99) in the bottom and the dollar sign in the top*/
    vertical-align: text-top;
}

.plan-card--saving{
    color: #757575;
    font-family: "Inter";
    font-family: 12px;
    font-weight: 500;
    line-height: 14,52px;
    text-align: center;
    margin-bottom: 16px;
}

.plan-card--ca{
    width: 151px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--just-white);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.plan-card--ca span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/assets/icons/orange-right-arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

/*here is the config to set the slide with the cards*/
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}